.mohammad-e-shop-header {
    display:flex;
    padding:1rem 1.5rem;
    background-color: #6A1B4D;
    justify-content: space-between;
    color:white;
    align-items:center;
}

.header-navigation-link {
    text-decoration: none;
    display: inline-block;
    padding:0.5rem 0.75rem;
    font-size: 1.5rem;
    color:white;
}
